.bg {
  background: url('../images/grove.jpg') no-repeat center center;
  background-size: 100% 100%;
  position: fixed;
  width: 100% !important;
  height: 350px; /*same height as jumbotron */
  top: 0;
  left: 0;
  z-index: -1;

  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}

html, body {
  font-family: Gill Sans;
  font-weight: 100;
  font-size: 20px;
}

header,
h1, h2, h3, h4,  
.jumbotron {
  font-family: chaparral-pro;
  font-weight: normal;
}

.jumbotron {
  height: 350px;
  color: white;
  text-shadow: #444 0 1px 1px;
  background: transparent;
}

.cinch {
  max-width: 75%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  padding-bottom: 20px;
}

.form-control {
  margin-top: 30px;
  border: none;
  border-bottom: 1px solid #bfbfbf;
  font-size: 20px;
  line-height: 20px;
}

/*******/

/* Remove spin box for number fields from webkit browsers & Firefox */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- This crashes Chrome on hover, hence the one below. */
    -webkit-appearance: none;
    margin: 0; /* Apparently some margin is still there although hidden */
}

input[type=number] {
    -moz-appearance: textfield;
}


/* Placeholder settings */
.uneditable-input,
.uneditable-textarea {
  color: #7f7f7f;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
  color: #7f7f7f;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #7f7f7f;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #7f7f7f;
}


/* Overriding settings for input fields & text areas, including search form */
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input,
.uneditable-textarea {
  /* To override input & textarea font settings */
  color: #000;

  background-color: #ffffff;
  background-image: none;
  outline-style: none;
  outline: none;

  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;

  -webkit-border-radius: 0px;
     -moz-border-radius: 0px;
          border-radius: 0px;


}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  //border-color: rgba(82, 168, 236, 0.8);
  border-color: #bfbfbf;
  background-color: #ffffff;
  outline: 0;
  outline: thin dotted \9;
  /* IE6-9 */

  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
}


input.ng-invalid {
  border: none;
  border-bottom: 1px solid red;
}

input.ng-valid {
  border: none;
  border-bottom: 1px solid green;
}

